## Import PyMongo

In [1]:
import pymongo

In [2]:
pymongo.version

'3.7.1'

In [3]:
from pymongo import MongoClient

## Connect database

In [4]:
client=MongoClient('172.17.0.2')

In [5]:
db=client.packt

In [7]:
testCollection=db.testCollection

## Insert some documents

In [8]:
testCollection.insert_one({'name':'Alice', 'salary':50000})
testCollection.insert_one({'name':'Bob', 'salary':40000})
testCollection.insert_one({'name':'Charlie', 'salary':60000})

## Set an Individual Document

In [9]:
testCollection.update_one({'name': 'Alice'}, {'$set':{'salary':55000}})

In [10]:
testCollection.find_one({'name':'Alice'})

{'_id': ObjectId('5b81cda8d1b20b32dc9d1880'), 'name': 'Alice', 'salary': 55000}

## Remove a Field from a Document

In [11]:
testCollection.update_one({'name':'Alice'}, {'$unset': {'salary':''}})

In [12]:
testCollection.find_one({'name':'Alice'})

{'_id': ObjectId('5b81cda8d1b20b32dc9d1880'), 'name': 'Alice'}

## Calculate total and mean salary

In [13]:
pipeline=[]

In [14]:
pipeline.append({'$match':{'salary':{'$exists':'True'}}})

In [15]:
pipeline.append({'$group':{'_id':None, 'avSalary':{'$avg':'$salary'},'totalSalary':{'$sum':'$salary'}}})

In [16]:
cur=testCollection.aggregate(pipeline=pipeline)

In [17]:
cur.next()

{'_id': None, 'avSalary': 50000.0, 'totalSalary': 100000}

In [18]:
for d in testCollection.find():
    print(d)

{'_id': ObjectId('5b81cda8d1b20b32dc9d1880'), 'name': 'Alice'}
{'_id': ObjectId('5b81cda8d1b20b32dc9d1881'), 'name': 'Bob', 'salary': 40000}
{'_id': ObjectId('5b81cda8d1b20b32dc9d1882'), 'name': 'Charlie', 'salary': 60000}

## Calculate total and mean salary over groups

In [19]:
testCollection.drop()

In [20]:
testCollection.insert_one({'name':'Alice', 'salary':50000, 'unit':'legal'})
testCollection.insert_one({'name':'Bob', 'salary':40000, 'unit':'marketing'})
testCollection.insert_one({'name':'Charlie', 'salary':60000, 'unit':'communications'})
testCollection.insert_one({'name':'David', 'salary':70000, 'unit':'legal'})
testCollection.insert_one({'name':'Edwina', 'salary':90000, 'unit':'communications'})

In [22]:
pipeline=[{'$group':{'_id':'$unit', 'avgSalary':{'$avg':'$salary'}, 'totalSalary':{'$sum':'$salary'}}}]

In [23]:
cur=testCollection.aggregate(pipeline=pipeline)

In [24]:
for d in cur:
    print(d)

{'_id': 'communications', 'avgSalary': 75000.0, 'totalSalary': 150000}
{'_id': 'marketing', 'avgSalary': 40000.0, 'totalSalary': 40000}
{'_id': 'legal', 'avgSalary': 60000.0, 'totalSalary': 120000}